@config "../tailwind.config.ts";
@import "tailwindcss";



:root {
  --background: 247 247 245;
  --foreground: 31 41 51;
  --primary: 30 58 138;
  --accent: 180 83 9;
}

@theme {
  --color-bg: rgb(var(--background));
  --color-fg: rgb(var(--foreground));
  --color-primary: rgb(var(--primary));
  --color-accent: rgb(var(--accent));
}